@font-face{
	font-family: Dancing Script;
	src: url(../fonts/DancingScript-Regular.ttf);
}

body{
	background-color: #02010a;
	color: white;
	font-family: 'Dancing Script';
	font-size: 4px;
	display: flex;
	flex-wrap: wrap;
	margin: 1%;
}

/*====================== Sección del header ======================*/

header{
	width: 100%;
	margin: 0;
	animation-name: slide-in;
	animation-duration: 1.5s;
}

#cabecera{
	background-color: #5b7989;
	display: block;
	border-radius: 10px 10px 0 0px;
	padding-top: 5%;
	text-align: center;
}

.titulo1{
	font-size: 9em;
	text-shadow: 2px 2px 0 #02010a;
	margin-left: auto;
}

#menu-navegacion{
	text-align: center;
	padding: 3% 5% 6% 0;
}

.enlace{
	color: white;
	padding-left: 5%;
	font-size: 6em;
}

.enlace-inicio{
	color: white;
	padding-left: 5%;
	font-size: 6em;
	text-decoration: none;
}

.enlace-paisajes{
	color: white;
	padding-left: 5%;
	font-size: 6em;
	text-decoration: none;
}

.enlace-retratos{
	color: white;
	padding-left: 5%;
	font-size: 6em;
	text-decoration: none;
}

/*====================== Sección de imagen principal ======================*/

#contenido{
	width: 100%;
	background-color: #82c3a6;
	margin: auto;
	max-width: 900px;
	border-radius: 0px 0px 10px 10px;
}

.img-principal {
	width: 80%;
	margin: auto;
	display: block;
	margin-top: 8%;
	margin-bottom: 8%;
}

/*====================== Borde a imágenes ======================*/

section img[class^="img"]{
		box-shadow: 2px 2px 2px #02010a;
}

/*====================== Sección de imagenes secundaria ======================*/

#section2 {
	background-color: #d5c75f;
	padding-top: 3vw;
	display: block;
	border: 1px solid 
}

figure{
	width: 80%;
	margin:5% auto 5% auto;
}

figure img{
	width: 100%;
}

figcaption{
	text-align: center;
	padding: 2.5vw 0 0.8vw 0;
	margin: 0.7vw 0 0.7vw 0; 

}

.enlace2{
	font-size: 5.5em;
	font-weight: bold;
	color: black;
}

/*====================== Galería ======================*/

#Section3{
	display: flex;
}

img[src*="galeria"]{
	width: 60%;
	margin: 7% 20% 0% 20%;
}

#section3 img:first-child{
	filter: blur(10px);
}

#section3 img:nth-child(2n){
	filter: grayscale(100%);
}

#section3 img:nth-child(3){
	filter: sepia(90%);
}

#section3 img:last-child{
	margin-bottom: 7%;
}

/* ====================== Footer ======================*/

#pie-de-pagina{
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	width: 100%;
	padding: 2% 0 5% 0;
	box-sizing: border-box;	
}

.fila{
	display: flex;
}

.a-img{
	display: flex;
	width: 7%;
	margin-left: 30%;
}

img[src*="icon"]{
	width: 100%;
}

.titulo2{
	font-size: 8em;
}

.titulo2,p,.fila{
	color: black;
	text-align: center;
	}

.c1>p>a{
	color:black;
	text-decoration: none;
	font-size: 5vw;
	width:7%;
	}

p{
	font-size: 5vw;
	text-shadow: 0.2px 0.2px 0 black;
}

.enlace3{
	color: black;
	font-size: 4vw;
	text-decoration: none;
	margin: auto 0 auto 2.5%;
	text-shadow: 0.2px 0.2px 0 black;
}

.c1,.c2,.c3,.c4{
	padding-bottom: 3.5%;
}

/*====================== Animations Sección 2 ======================*/

.img-secundaria1{
	transition: transform 1.2s;
}

.img-secundaria1:hover{
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px #82c3a6;
}

.img-secundaria2{
	transition: transform 1.2s;
}

.img-secundaria2:hover{
	transform: translate(20px,-5px);
	box-shadow: 2px 2px 2px #82c3a6;
}

/*====================== Animation-Slidein ======================*/

@keyframes slide-in{
	0%{
		margin-top: 150%;
	}

	60%{
		margin-top: -5%;
	}

	100%{
		margin-top: 0%;
	}
}

/*====================== Desktop disign ======================*/

@media (min-width: 900px) {


/*====================== Sección del header-desktop ======================*/

	header {
		width: 80%;
		max-width: 900px;
		margin: auto;
	}

	#cabecera {
		display: flex;
		padding: 0;
	}

	#menu-navegacion {
		text-align: right;
		margin: auto;
		margin-right: 7%;
		width: 28%;
		padding: 0;
		min-width: 224px;
	}

	.titulo1{
		font-size: 8em;
		margin-left: 10%;
	}

/*====================== Images section Desktop ======================*/

	#contenido {
		width: 80%;
	}

	#section2 {
		display: flex;
	}

	figure {
		width: 40%;
		margin-left: 5%;
		margin-right: 5%;
		margin: auto;
		padding: 0;
	}

	.img-principal {
		width: 70%;
		margin-top: 4%;
		margin-bottom: 4%;
	}


	figcaption {
		padding: 1vw 0 1vw 0;
		margin: 0.5vw 0 0.5vw 0; 

	}

/*====================== Galería desktop ======================*/
	#Section3{
		display: flex;
	}

	img[src*="galeria"],#section3 img:last-child{
		width: 25%;
		margin: 4% 2.5% 4% 4.5%;
	}

/*====================== Footer Desktop ======================*/

	#pie-de-pagina {
		display: flex;
	}

	.c1,.c2,.c3,.c4{
		width: 25%;
		margin: 0 auto;
	}

	.titulo2{
		margin:5%; 
	}

	.titulo2,p,.fila{
		text-align: left;
		margin-left: 20%;
	}

	p{
		font-size: 4em;
		margin: 2% 2% 2% 20%;
		padding-bottom: 2%;
	}

	.enlace3{
		font-size: 3.8em;
		margin-left: 4%;
	}

	.a-img{
		display: flex;
		width: 11%;
		height: 11%;
		margin: 0;
	}

	.c1>p>a{
		font-size: inherit;
	}

	.fila{
		margin-left: 20%;
		padding-bottom: 2.5%;
	}
}